/* Font Face */
@font-face {
    font-family: 'CosiAzure';
    src: url('../fonts/CosiAzure-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    margin: 0;
    overflow: hidden;
    background: url('./images/dark-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    cursor: auto;
}

/* Text Selection Styles */
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
a::selection,
p::selection,
span::selection {
    background-color: rgba(238, 14, 14, 0.924);
    color: white;
    padding: 3px 6px;
}
div {
    user-select: none;
    outline: none;
    pointer-events: none;
}
img{
    user-select: none;
}

/* Custom Cursor Styles */
.custom-cursor {
    position: fixed;
    left: -50%;
    width: 40px;
    height: 40px;
    background-image: url('./images/glove.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    transform: rotate(-20deg);
    z-index: 9999;
    display: none;
}

/* Preloader Styles */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloader-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* hamburger menu bar for mobile devices */
.mobile-menu-icon {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    border-radius: 50%;
    user-select: none;
    z-index: 998;
}
/* Side Navigation Styles */
.side-nav {
    position: fixed;
    top: 50%;
    right: -150px; /* Initially hidden */
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    width: 200px;
    transition: right 0.3s;
    border-radius: 10px;
    transform: translate(0, -50%);
    color: black;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 998;
    cursor: pointer;
}

.side-nav .nav-icon {
    cursor: pointer;
    font-size: 24px;
    
}

.side-nav .nav-links {
    display: none;
}

.side-nav a {
    display: block;
    color: snow;
    padding: 10px 10px 10px 0px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 8px;
    margin: 20px 0;
}

.side-nav a i {
    margin-right: 15px;
    font-size: large;
    color: snow;
}
.side-nav a:hover i{
    color: black;
}

.side-nav a:hover {
    background-color: #d8d8d8;
    color: black;
    padding: 10px 20px;
}

.side-nav:hover {
    right: 0;
}

.side-nav:hover .nav-links {
    display: block;
}


.side-nav a:hover .active {
    color: black;
}

/* Logo Box Styles */
.logo-box img {
    width: 40%;
    padding: 50px 60px 0 60px;
}

.logo-box {
    cursor: pointer;
    user-select: none;
}

/* Slogan Styles */
.slogan {
    margin: 20px 0;
    margin-left: 80px;
}

.slogan h2 {
    color: white;
    font-size: 24px;
}

/* Location Display Styles */
.location-display {
    position: fixed;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.location-icon {
    font-size: 24px;
    margin: 5px;
}

/* Punching Bag Container Styles */
.punching-bag-container {
    position: absolute;
    right: 200px;
    top: 0;
    cursor: none;
}

.punching-bag-container:hover ~ .custom-cursor {
    display: block;
}

.punching-bag-container img {
    height: 600px;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-size: contain;
    transform-origin: 50% 0;
    animation: swayAndRotate 4s infinite alternate ease-in-out;
}

/* smaller screen mobiles */
@media screen and (min-width: 300px) and (max-width: 480px) {
    .logo-box {
        position: absolute;
        left: 5%;
        top: 5%;
    }

    .slogan {
        position: absolute;
        left: 10px;
        top: 20%;
        margin-left: 30px;
        color: snow;
    }

    .side-nav {
        right: -100%;
    }

    .mobile-menu-icon {
        display: block;
    }

    .logo-box img {
        width: 60%;
        padding: 50px 0;
    }

    .punching-bag-container {
        right: 30px !important;
    }

    .punching-bag-container img {
        height: 600px !important;
    }

    #preloader-video {
        width: 130%;
        height: auto;
        border-top: 2px solid whitesmoke;
    }
}

/* Mobile Devices */
@media screen and (max-width: 767px) {
    body {
        background-size: 100% 100%;
        overflow-x: hidden;
    }

    .mobile-menu-icon {
        display: block;
    }

    .logo-box img {
        width: 50%;
        padding: 50px 0;
        margin-left: 20px;
    }

    .punching-bag-container {
        right: 90px;
    }

    .punching-bag-container img {
        height: 700px;
    }

    #preloader-video {
        width: 130%;
        height: auto;
        border-top: 2px solid whitesmoke;
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 959px) {
    .logo-box img {
        width: 70%;
        padding: 50px 40px 0 40px;
    }

    .slogan {
        margin-left: 40px;
        margin-top: 20px;
    }

    .slogan h2 {
        font-size: 34px;
    }

    .punching-bag-container {
        right: 90px;
    }

    .punching-bag-container img {
        height: 800px;
    }
}

/* Larger Tablets */
@media screen and (min-width: 960px) and (max-width: 1024px) {
    .logo-box img {
        width: 60%;
        padding: 80px 50px 0 50px;
    }

    .slogan {
        margin-left: 70px;
        margin-top: 20px;
    }

    .slogan h2 {
        font-size: 34px;
    }

    .punching-bag-container {
        right: 90px;
    }

    .punching-bag-container img {
        height: 900px;
    }
}

/* Medium-sized Screens */
@media screen and (min-width: 1025px) and (max-width: 1199px) {
    .logo-box img {
        width: 70%;
        padding: 50px 60px 0 60px;
    }

    .slogan {
        margin-left: 80px;
        margin-top: 25px;
    }

    .slogan h2 {
        font-size: 39px;
    }

    .punching-bag-container {
        right: 100px;
    }

    .punching-bag-container img {
        height: 900px;
    }
}

/* Larger Screens */
@media screen and (min-width: 1200px) {
    .logo-box img {
        width: 60%;
        padding: 50px 80px 0 80px;
    }

    .slogan {
        margin-left: 100px;
        margin-top: 30px;
    }

    .slogan h2 {
        font-size: 44px;
    }

    .punching-bag-container {
        right: 140px;
    }

    .punching-bag-container img {
        height: 600px;
    }
}


    @keyframes swayAndRotate {
      0%, 100% {
        transform: translateX(-10px) rotate(-2deg);
      }
      50% {
        transform: translateX(10px) rotate(2deg); /* Adjust values as needed */
      }
    }


  @keyframes moveLeft {
    0% {
        transform: rotate(1deg) translateX(-10px);
    }
    10% {
        transform: rotate(6deg) translateX(-30px);
    }
    50% {
        transform: rotate(-6deg) translateX(-30px);
    }
    60% {
        transform: rotate(-3deg) translateX(-10px);
    }
    80% {
        transform: rotate(1deg) translateX(-5px);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}

@keyframes moveRight {
    0% {
        transform: rotate(1deg) translateX(10px);
    }
    10% {
        transform: rotate(6deg) translateX(30px);
    }
    50% {
        transform: rotate(-6deg) translateX(30px);
    }
    60% {
        transform: rotate(-3deg) translateX(10px);
    }
    80% {
        transform: rotate(1deg) translateX(5px);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}
