/* Font Face */
@font-face {
    font-family: 'CosiAzure';
    src: url('../fonts/CosiAzure-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    margin: 0;
    overflow: hidden;
    background: url('./images/dark-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    cursor: auto;
}

/* Text Selection Styles */
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
a::selection,
p::selection,
span::selection {
    background-color: rgba(238, 14, 14, 0.924);
    color: white;
    padding: 3px 6px;
}
/* to prevent the blu highlight when clicking divs */
div { 
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-select:none;
}
div:focus{
    outline: none !important;
}
img{
    user-select: none;
}

/* Custom Cursor Styles */
.custom-cursor {
    position: fixed;
    left: -50%;
    width: 40px;
    height: 40px;
    background-image: url('./images/glove.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    transform: rotate(-20deg);
    z-index: 9999;
    display: none;
}

/* Preloader Styles */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloader-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* hamburger menu bar for mobile devices */
.mobile-menu-icon {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    border-radius: 50%;
    user-select: none;
    z-index: 998;
}
/* Side Navigation Styles */
.side-nav {
    position: fixed;
    top: 50%;
    right: -150px; /* Initially hidden */
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    width: 200px;
    transition: right 0.3s;
    border-radius: 10px;
    transform: translate(0, -50%);
    color: black;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 998;
    cursor: pointer;
}

.side-nav .nav-icon {
    cursor: pointer;
    font-size: 24px;
    
}

.side-nav .nav-links {
    display: none;
}

.side-nav a {
    display: block;
    color: snow;
    padding: 10px 10px 10px 0px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 8px;
    margin: 20px 0;
}

.side-nav a i {
    margin-right: 15px;
    font-size: large;
    color: snow;
}
.side-nav a:hover i{
    color: black;
}

.side-nav a:hover {
    background-color: #d8d8d8;
    color: black;
    padding: 10px 20px;
}

.side-nav:hover {
    right: 0;
}

.side-nav:hover .nav-links {
    display: block;
}


.side-nav a:hover .active {
    color: black;
}

/* Logo Box Styles */
.logo-box img {
    width: 40%;
    padding: 50px 60px 0 60px;
}

.logo-box {
    cursor: pointer;
    user-select: none;
}

/* Slogan Styles */
.slogan {
    margin: 20px 0;
    margin-left: 80px;
}

.slogan h2 {
    color: white;
    font-size: 24px;
    filter: drop-shadow(2px 2px black);
    -webkit-text-stroke: 0.5px black;
}

/* Location Display Styles */
.location-display {
    position: fixed;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.location-icon {
    font-size: 24px;
    margin: 5px;
}

/* Punching Bag Container Styles */
.punching-bag-container {
    position: absolute;
    right: 200px;
    top: 0;
    cursor: none;
}

.punching-bag-container:hover ~ .custom-cursor {
    display: block;
}

.punching-bag-container img {
    height:80vh;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-size: contain;
    transform-origin: 50% 0;
    animation: swayAndRotate 4s infinite alternate ease-in-out;
}
/*container*/
.contaienr{
    display: flex;
    flex-direction: column;
}
/*Learn more div*/
.about {
    width: 300px;
    margin: 10px 60px;
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden; 
}

.about::before {
    content: '';
position: absolute;
top: 0;
left: -120%;
width: 70px;
height: 100%;
background: rgba(255,255,255, 0.3);
transform: skewX(45deg);
background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}
.about:hover::before{
animation: slide .7s  ease-in-out;
}

@keyframes slide {
  0% {
    left: -150%;
    top: 0;
  }
 
  100% {
    left: 100%;
    top: 0;
  }
}


.about h3 {
    color: white;
    padding: 5px 8px;
    font-size: 22px;
}
.button {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #f20000;
    --white: #fa0000;
    --af-white: #ff0101;
    --ch-white: #ff0b0b;
    border-radius: 8px;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    transition-duration: .2s;
    background-color: var(--ch-black);
    margin: 12px 0;
    text-decoration: none;
  }
  
  .button:before, .button:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, 
    var(--ch-black), var(--eer-black),
    var(--night-rider), var(--ch-white), var(--night-rider), 
      var(--eer-black), var(--ch-black),var(--ch-black));
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 10s linear infinite;
    justify-content: end;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .button:after {
    filter: blur(50px);
  }
  
/*ultra small screens*/
@media screen and (max-width: 299px){
    .punching-bag-container{
        display:none;
    }
    .slogan{
        margin: 40px 25px;
    }
}
/* smaller screen mobiles */
@media screen and (min-width: 300px) and (max-width: 480px) {
    
    .logo-box{
        margin-top: 20px;
    }
    .slogan {
        margin-left: 30px;
        color: snow;
    }

    .side-nav {
        right: -100%;
    }

    .mobile-menu-icon {
        display: block;
    }

    .logo-box img {
        width: 60%;
        padding: 50px 0;
    }

    .punching-bag-container {
        right: 40px !important;
    }
    .about {
        width: 100%; /* Adjust the width based on the window size */
        max-width: 300px; /* Set a maximum width if needed */
        margin: 10px 10%; 
    }

    .about h3 {
        font-size: 18px;
    }
    .button{
        width: 120px;
        font-size: 12px;
    }
    

    .punching-bag-container img {
        height: 70vh !important;
    }

    #preloader-video {
        width: 130%;
        height: auto;
        border-top: 2px solid whitesmoke;
    }
}

/* Mobile Devices */
@media screen and (max-width: 767px) {
    body {
        background-size: 100% 100%;
        overflow-x: hidden;
    }

    .mobile-menu-icon {
        display: block;
    }

    .logo-box img {
        width: 50%;
        padding: 50px 0;
        margin-left: 20px;
    }

    .punching-bag-container {
        right: 90px;
    }

    .punching-bag-container img {
        height: 70vh;
    }
    .about {
        width: 100%;
        max-width: 150px;
        margin: 10px 10%;
    }

    .about h3 {
        font-size: 20px;
    }
    .button{
        width: 120px;
        font-size: 10px;
    }

    #preloader-video {
        width: 130%;
        height: auto;
        border-top: 2px solid whitesmoke;
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 959px) {
    .logo-box img {
        width: 70%;
        padding: 50px 40px 0 40px;
    }

    .slogan {
        margin-left: 40px;
        margin-top: 20px;
    }

    .slogan h2 {
        font-size: 34px;
    }

    .punching-bag-container {
        right: 90px;
    }

    .punching-bag-container img {
        height: 80vh;
    }
    .about {
        width: 100%;
        max-width: 180px;
        margin: 10px 5%;
    }

    .about h3 {
        font-size: 24px;
    }
    .button{
        width: 150px;
        font-size: 15px;
    }
}

/* Larger Tablets */
@media screen and (min-width: 960px) and (max-width: 1024px) {
    .logo-box img {
        width: 60%;
        padding: 80px 50px 0 50px;
    }

    .slogan {
        margin-left: 70px;
        margin-top: 20px;
    }

    .slogan h2 {
        font-size: 34px;
    }

    .punching-bag-container {
        right: 90px;
    }

    .punching-bag-container img {
        height: 80vh;
    }
    .about {
        width: 100%;
        max-width: 280px;
        margin: 10px 8%;
    }

    .about h3 {
        font-size: 24px;
    }
    .button{
        width: 160px;
        font-size: 18px;
        margin: 15px 0;
    }
}

/* Medium-sized Screens */
@media screen and (min-width: 1025px) and (max-width: 1199px) {
    .logo-box img {
        width: 70%;
        padding: 50px 60px 0 60px;
    }

    .slogan {
        margin-left: 80px;
        margin-top: 30px;
    }

    .slogan h2 {
        font-size: 39px;
    }

    .punching-bag-container {
        right: 110px;
    }

    .punching-bag-container img {
        height: 80vh;
    }
    .about {
        width: 100%;
        max-width: 300px;
        margin: 10px 10%;
    }

    .about h3 {
        font-size: 28px;
    }
    .button{
        width: 150px;
        font-size: 18px;
        margin:15px 0;
    }
}

/* Larger Screens */
@media screen and (min-width: 1200px) {
    .logo-box img {
        width: 60%;
        padding: 50px 80px 0 80px;
    }

    .slogan {
        margin-left: 100px;
        margin-top: 30px;
    }

    .slogan h2 {
        font-size: 44px;
    }

    .punching-bag-container {
        right: 140px;
    }

    .punching-bag-container img {
        height: 80vh;
    }
    .about {
        width: 100%;
        max-width: 400px;
        margin: 30px 3%;
    }

    .about h3 {
        font-size: 28px;
        text-align: center;
    }
    .button{
        width: 160px;
        font-size: 18px;
        margin-top: 15px;
    }
}


    @keyframes swayAndRotate {
      0%, 100% {
        transform: translateX(-10px) rotate(-2deg);
      }
      50% {
        transform: translateX(10px) rotate(2deg); /* Adjust values as needed */
      }
    }


  @keyframes moveLeft {
    0% {
        transform: rotate(1deg) translateX(-10px);
    }
    10% {
        transform: rotate(6deg) translateX(-30px);
    }
    50% {
        transform: rotate(-6deg) translateX(-30px);
    }
    60% {
        transform: rotate(-3deg) translateX(-10px);
    }
    80% {
        transform: rotate(1deg) translateX(-5px);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}

@keyframes moveRight {
    0% {
        transform: rotate(1deg) translateX(10px);
    }
    10% {
        transform: rotate(6deg) translateX(30px);
    }
    50% {
        transform: rotate(-6deg) translateX(30px);
    }
    60% {
        transform: rotate(-3deg) translateX(10px);
    }
    80% {
        transform: rotate(1deg) translateX(5px);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}
