/* Font Face */
@font-face {
    font-family: 'CosiAzure';
    src: url('./fonts/CosiAzure-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Schnyder';
    src: url('./fonts/Maiken-DEMO-VERSION-BF65a4d3bf5be7f.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aquire';
    src: url('./fonts/Aquire-BW0ox.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'gobold';
  src: url('./fonts/Gobold\ Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'aware';
    src: url('./fonts/AwareBold-qZo3x.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gputek';
    src: url('./fonts/GputeksBold-d5mK.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'resagnito';
    src: url('./fonts/Resagnicto-DGqR.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'volume';
    src: url('./fonts/Volunmo-x3WKr.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
/*  Styles */
 body{
    margin: 0;
    overflow-x: hidden;
    background: url('./images/dark-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    font-family: 'Lato', sans-serif;
    cursor: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    scrollbar-width: 0;
}
body::-webkit-scrollbar {
  display: none;
}

/* Text Selection Styles */
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
a::selection,
p::selection,
span::selection {
    background-color: rgba(238, 14, 14, 0.924);
    color: white;
    padding: 3px 6px;
}
/* to prevent the blu highlight when clicking divs */
div { 
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-select:none;
}
div:focus{
    outline: none !important;
}
img{
    user-select: none;
    -webkit-user-drag: none;
}

/* Preloader Styles */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader img {
  height: 50vh; /* Adjust the height as needed */
  width: auto;
  position: absolute;
  top: 0%; /* Position the image 50% from the top */
  left: 50%; /* Position the image 50% from the left */
  transform: translate(-50%, -50%); /* Move the image up and left by half of its height and width */
  animation: moveLeft 2s infinite alternate ease-in-out;
}

#opac{
    font-size: 18vw;
    opacity: 0.03;
    color: white;
    z-index: -999;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%,20%);
}

/* hamburger menu bar for mobile devices */
.mobile-menu-icon {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    border-radius: 50%;
    user-select: none;
    z-index: 998;
}
/* Side Navigation Styles */
.side-nav {
    position: fixed;
    top: 50%;
    right: -150px; /* Initially hidden */
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    width: 200px;
    transition: right 0.3s;
    border-radius: 10px;
    transform: translate(0, -50%);
    color: black;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 998;
    cursor: pointer;
}

.side-nav .nav-icon {
    cursor: pointer;
    font-size: 24px;
    
}

.side-nav .nav-links {
    display: none;
}

.side-nav a {
    display: block;
    color: snow;
    padding: 10px 10px 10px 0px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 8px;
    margin: 20px 0;
}

.side-nav a i {
    margin-right: 15px;
    font-size: large;
    color: snow;
}
.side-nav a:hover i{
    color: black;
}

.side-nav a:hover {
    background-color: #d8d8d8;
    color: black;
    padding: 10px 20px;
}

.side-nav:hover {
    right: 0;
}

.side-nav:hover .nav-links {
    display: block;
}


.side-nav a:hover .active {
    color: black;
}


.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link {
    margin: 0 10px; /* Adjust spacing between icons */
    font-size: 22px;
    color: #e5e5e5; /* Change icon color */
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #007bff; /* Change color on hover */
}



.container{
  display: flex;
  justify-content: space-around;
}
.container .slogan{
  margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;

}
.container .slogan h2 {
  color: white;
  text-transform: uppercase;
  font-family: 'aware', sans-serif;
  font-size: 24px;
  filter: drop-shadow(2px 2px black);
  -webkit-text-stroke: 0.5px black;
}
.container .punching-bag-container {
  cursor: pointer;
}
.container .punching-bag-container img {
  height:80vh;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-size: contain;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.545));
  transform-origin: 50% 0;
  animation: swayAndRotate 4s infinite alternate ease-in-out;
  mix-blend-mode: lighten;
}


/* Location Display Styles */
.location-display {
  position: fixed;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.location-icon {
  font-size: 24px;
  margin: 5px;
}
.getintouch {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}
.getintouch a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.getintouch-icon {
  font-size: 24px;
  margin: 5px;
  transform: rotate(-45deg);
  margin-left: 20px;
}


#part-one {
  height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(109, 0, 0) 95%), url(./images/dark-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



#part-two{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 60px;
  background: rgb(109, 0, 0);
}
.scroll-down-mouse {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: none; /* Initially hidden */
}

.scroll-down-arrow {
  width: 20px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 25px;
  position: relative;
  display: block;
  animation: scrollDown 3s infinite;
  opacity: 0.7;
}
.line{
  width: 2px;
  height: 7px;
  background-color: white;
  border-radius: 10px;
  display: block;
  animation: scrollDown2 3s infinite;
  margin: 5px auto;
  opacity: 0.7;

}
@keyframes scrollDown {
  0% {
      opacity: 0.7;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(20px);
  }
}
@keyframes scrollDown2 {
  0% {
      opacity: 0.7;
      transform: translateY(0);
  }
  100% {
      opacity: 1;
      transform: translateY(2px);
  }
}

.parent{
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 20px;
  background:#f4f3ee;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 25px;
}
.number{
  width: 50px;
  height: 50px;
  background-color: #f9dbbd;
  color: maroon;
  font-weight: bold;
  font-family: 'gputek';
  padding: 10px;
  border-radius: 50%;
  border: 2px solid maroon;
  position: absolute;
  top: -20px;
  left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent .child1 h1{
  font-size: 34px;
  font-weight: bold;
  font-family: 'gputek';
  font-weight: bold;
  border-bottom: 2px solid black;
  color: #660708;
  max-width: 600px;
}
.parent .child1 p{
  max-width: 500px;
  margin-top: 25px;
  font-size: 20px;
  line-height: 30px;
}
.parent .child2 img{
  width: 400px;
  height: auto;
  mix-blend-mode: darken;
}
#part-three{
  padding: 50px;
}
.end{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(108, 0, 0);
  border-radius: 20px;
}
.end a{
  text-decoration: none;
  color: white;
  font-family: 'gputek';
  font-size: 30px;
  text-align: center;
}
.end h3{
  text-decoration: none;
  color: white;
  font-family: 'gputek';
  font-size: 30px;
  text-align: center;
}
.end p {
  line-height: 35px;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
.button {
  text-decoration: none;
  line-height: 1;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0,0,0,.05);
  background-color: #fff;
  color: #121212;
  border: none;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.541);
}

.button-decor {
  position: absolute;
  inset: 0;
  background-color: var(--clr);
  transform: translateX(-100%);
  transition: transform .3s;
  z-index: 0;
}

.button-content {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.button__icon {
  width: 48px;
  height: 40px;
  background-color: var(--clr);
  display: grid;
  place-items: center;
}

.button__text {
  display: inline-block;
  transition: color .2s;
  padding: 2px 1.5rem 2px;
  padding-left: .75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 350px;
  color: maroon;
  font-size: 12px;
}

.button:hover .button__text {
  color: #fff;
}
.button:hover .button__icon{
  transform: rotate(45deg);
  transition: .5s ease-in-out;
}

.button:hover .button-decor {
  transform: translate(0);
}

/*ultra small screens*/
@media screen and (max-width: 299px){
   
    .container{
      display: flex;
      justify-content:space-around ;
      flex-direction: column-reverse;
    }
    .punching-bag-container img{
      height: 30vh;
    }


}
@media screen  and (max-width: 399px){
    
    .container{
      display: flex;
      justify-content:space-around ;
      flex-direction: column-reverse;
    }

}
/* smaller screen mobiles */
@media screen  and (max-width: 480px) {
   

    .side-nav {
        right: -100%;
    }

    .mobile-menu-icon {
        display: block;
    }
    .container{
      display: flex;
      justify-content:space-around ;
      flex-direction: column-reverse;
    }
    .container .slogan h2 {
      font-size: 24px !important;
  }
}

/* Mobile Devices */
@media screen and (max-width: 767px) {
    .preloader img {
      height: 40vh; /* Adjust as needed for smaller screens */
  }
    .mobile-menu-icon {
        display: block;
    }
    .container{
      display: flex;
      justify-content:space-around ;
      flex-direction: column-reverse;
    }
    .container .slogan h2 {
      font-size: 30px ;
      text-align: center;
  }
  .container .punching-bag-container img{
    height: 75vh;
  }
 .container .slogan{

    margin: 0 auto;
  }
    

    #opac{
      display: none;
    }
    .parent{
      display: flex;
      flex-direction: column !important;
    }
    
    .location-display{
      font-size: 14px;
    }
    .getintouch a {
      font-size: 14px;
    }
    .social a{
      font-size: 14px;
    }
    #part-two{
      padding: 30px;
    }
    .parent .child1 h1{
      font-size: 30px;
    }
    .parent .child2 img{
      width: 100%;
      margin: 8px  auto;
      border-radius: 10px;
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 959px) {

    .location-display {
        font-size: 21px;
    }
    .mobile-menu-icon {
      display: block;
  }
  .container .slogan h2 {
    font-size: 36px ;
}
    #opac{
        display: none;
    }
}

/* Larger Tablets */
@media screen and (min-width: 960px) and (max-width: 1024px) {

    .location-display {
        font-size: 22px;
    }
    .container .slogan h2 {
      font-size: 38px ;
  }

}

/* Medium-sized Screens */
@media screen and (min-width: 1025px) and (max-width: 1199px) {

  .container .slogan h2 {
    font-size: 40px ;
}

}

/* Larger Screens */
@media screen and (min-width: 1200px) {

    .location-display {
        font-size: 22px;
    }
    .container .slogan h2 {
      font-size: 42px ;
  }
  

}


    @keyframes swayAndRotate {
      0%, 100% {
        transform: translateX(0px) rotate(-2deg);
      }
      50% {
        transform: translateX(0px) rotate(2deg); /* Adjust values as needed */
      }
    }


  @keyframes moveLeft {
    0% {
        transform: rotate(1deg) translateX(-10px);
    }
    10% {
        transform: rotate(6deg) translateX(-30px);
    }
    50% {
        transform: rotate(-6deg) translateX(0px);
    }
    60% {
        transform: rotate(-3deg) translateX(-10px);
    }
    80% {
        transform: rotate(1deg) translateX(-5px);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}

@keyframes moveRight {
    0% {
        transform: rotate(1deg) translateX(10px);
    }
    10% {
        transform: rotate(6deg) translateX(0px);
    }
    50% {
        transform: rotate(-6deg) translateX(30px);
    }
    60% {
        transform: rotate(-3deg) translateX(10px);
    }
    80% {
        transform: rotate(1deg) translateX(5px);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}