@font-face {
    font-family: 'CosiAzure';
    src: url('../fonts/CosiAzure-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url(../images/artistic-blurry-colorful-wallpaper-background.jpg);
}
h1{
    font-size: 55px;
    text-align: center;
    margin: 50px 0;
    color: white;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.hide-preloader {
    opacity: 0;
}
.preloader h1{
    font-family: 'CosiAzure';
    color: white;
    font-size: 60px;
    text-align: center;
    letter-spacing: 1px;
}
.preloader span{
    color: orangered;
}

.bodyyy{
    background: url(../images/pexels-marek-piwnicki-10050570.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-container{
    background-color: rgb(16, 16, 16);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: auto;
    margin: 20px auto;
}
.contact-container .context h1{
    font-family: 'aware',sans-serif;
    text-transform: uppercase;
}
.contact-container .context h1 span{
    background: url(../images/pexels-mo-eid-9934462.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.contact-container .context h3{
    margin: 15px auto;
    text-align: center;
    font-family: 'Resagnito',sans-serif;
    color: rgb(201, 201, 201);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container .context h3 img{
    height: 70px;
    width: auto;
    margin: 0 15px;
}
.contact-container .context h3 span{
    font-family: 'gobold',sans-serif;
    /* background: url(../images/pexels-mo-eid-9934462.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-size: 40px;

}

.contact-form-container{
  width: 90%;
  background-color: #F4F3F3;
  margin: 10px auto;
  display: flex;
}
.contact-form-container .contact-us{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 30%;
  background: url(../images/pexels-mo-eid-9934462.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.contact-form-container .contact-us .contact-header{
  font-size: 30px;
  transform: translate(-50%,0) rotate(-90deg);
  position: absolute;
  top: 120px;
  left: 50%;
  width: 250px;
}
.contact-form-container .contact-us .social{
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%,0);
}
.contact-form-container .contact-us .social ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.contact-form-container .contact-us .social ul li{
  margin: 5px 8px;
}
.contact-form-container .contact-us .contact-header h1{
  font-size: 20px;
  height: 100%;
  width: 100%;
  font-family: 'Resagnito',sans-serif;
}
.contact-form-container .contact-us .contact-header h1 span{
  letter-spacing: -5px;
  margin: 0 8px;
}
.contact-form-container .form-content{
  display: flex;
  flex-direction: column;
}
.contact-form-container .form-content .header{
  text-align: center;
}
.contact-form-container .form-content .header h1{
  color: black;
  font-family: 'Resagnito',sans-serif;
}
.contact-form-container .form-content .header h2{
  width: 80%;
  margin: 8px auto;
  color: rgb(93, 93, 93);
  font-family: 'Resagnito',sans-serif;
}
.contact-form-container .form-content .links{
  display: flex;
  justify-content: space-around;
  margin: 8px auto;
}
.contact-form-container .form-content .links i{
  color: plum;
  font-size: 25px;
  margin: 8px;
}
.contact-form-container .form-content .links .address{
  font-size: 14px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form-container .form-content .links .address h3{
  margin: 0 3px;
}
.contact-form-container .form-content .links .phone{
  font-size: 14px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form-container .form-content .links .email{
  font-size: 14px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form-container .form-content .contact-form{
  width: 70%;
  height: auto;
  margin: 10px auto;
  background-color: white;
  padding: 10px;
}
.contact-form-container .form-content .contact-form form{
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
}
.contact-form-container .form-content .contact-form form input{
  border: none;
  outline: none;
  padding: 5px;
  border-bottom: 1px solid grey;
  margin: 10px 0;
  font-family: sans-serif;
}
.contact-form-container .form-content .contact-form form textarea{
  border: none;
  outline: none;
  padding: 5px;
  border-bottom: 1px solid grey;
  margin: 10px 0;
  font-family: sans-serif;
}
.contact-form-container .form-content .contact-form form button{
  height: 40px;
  width: 250px;
  margin: 0 auto;
  border: 0;
  border-radius: 20px;
  bottom: -20px;
  background: #9ED8EB;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  outline: none;
}
@media screen and (min-width: 768px) and (max-width: 959px){
  
  .contact-form-container .contact-us .social ul li{
    margin: 5px 3px;
  }
}
@media screen and (max-width: 767px){
  .contact-form-container{
    flex-direction: column;

  }
  .contact-form-container .contact-us {
    height: 150px;
    width: 100%;
  }
  .contact-form-container .contact-us .contact-header{
    top: 0;
    
    transform:translate(-50%,0) rotate(0deg);
  }
  .contact-form-container .form-content .contact-form{
    margin: 20px auto;
  }
  .contact-form-container .form-content .contact-form form{
    margin: 25px auto;
  }
  .contact-form-container .form-content .links h3{
    font-size: 14px;
  }
  .contact-form-container .form-content .links i{
    font-size: 20px;
  }
  .contact-container .context h3{
    display: flex;
    flex-direction: column;
  }
  .contact-container .context h3 img{
    height: 45px;
    width: auto;
  }
}
@media screen  and (max-width: 480px){
  .contact-container .context h1{
    font-size: 40px;
  }
  .contact-form-container .form-content .links{
    flex-direction: column;
  }
  .contact-form-container .form-content .contact-form form input{
    margin: 20px auto;
    width: 90%;
  }
  .contact-form-container .form-content .contact-form form button{
    width: 150px;
  }
}