@font-face {
    font-family: 'CosiAzure';
    src: url('../fonts/CosiAzure-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url(../images/artistic-blurry-colorful-wallpaper-background.jpg);
}
h1{
    font-size: 55px;
    text-align: center;
    margin: 50px 0;
    color: white;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.hide-preloader {
    opacity: 0;
}
.preloader h1{
    font-family: 'CosiAzure';
    color: white;
    font-size: 60px;
    text-align: center;
    letter-spacing: 1px;
}
.preloader span{
    color: orangered;
}
